---
interface Props {
  href: string
}

const { href } = Astro.props
---

<li role="presentation">
  <a role="menuitem" href={href}>
    <slot />
  </a>
</li>

<style>
  [role="menuitem"] {
    display: block;
    text-decoration: none;
    padding: 20px 35px;
    color: #ccc;
  }
</style>
