---
interface Props {
  label: string
}

const { label } = Astro.props
---

<nav aria-label={label}>
  <ul role="menubar" aria-label={label}>
    <slot />
  </ul>
</nav>

<style>
  nav[aria-label] {
    background: #333;
  }

  [role="menubar"] {
    display: flex;
    width: 100%;
    justify-content: center;
  }
</style>
